In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('aggs').getOrCreate()

In [3]:
df = spark.read.csv("files/sales_info.csv", inferSchema=True, header=True)

In [4]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [6]:
df.show(5)

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
+-------+-------+-----+
only showing top 5 rows

In [7]:
# Grouping Data
df.groupBy(df['Company'])

In [10]:
# Using Grouping Methods: sum() mean() max() min() count()
# more functions at http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module

df.groupBy('Company').mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [12]:
# Aggregate Methods: param = dictionary
df.agg({'Sales': 'sum'}).show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [15]:
# Combining both methods
grouped = df.groupBy('Company')
grouped.agg({'Sales': 'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [16]:
# More functions can be imported thru http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#module-pyspark.sql.functions
from pyspark.sql.functions import countDistinct, avg, stddev

In [18]:
# Combining functions with SELECT statements
df.select(avg('Sales')).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [19]:
# Using Aliases
df.select(stddev('Sales').alias('Standard Deviation')).show()

+------------------+
|Standard Deviation|
+------------------+
|250.08742410799007|
+------------------+

In [21]:
# formating numbers
from pyspark.sql.functions import format_number

df.select(format_number(avg('Sales'), 2)).show()

+----------------------------+
|format_number(avg(Sales), 2)|
+----------------------------+
|                      360.58|
+----------------------------+

In [32]:
# Order By
# df.orderBy('Sales').show() whitout desc
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+